@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A OPEN ENGLISH</h1>
    <img src="https://www.openenglish.com/wp-content/uploads/2021/09/oe-core-q4-open-graph-design.jpg" alt="Open English Image">
    <style>
        
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }

        img {
            display: block; 
            max-width: 100%; 
            height: auto; 
            width: 100vw; 
            height: 100vh; 
            object-fit: cover; 
        }
    </style>
   
</div>
